/* global rules */
* {
  padding: 0;
  margin: 0;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "DynaPuff", cursive;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

input[type=number] {
  -moz-appearance: textfield;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media ((min-width:768px)) {
  .container {
    width: 750px;
  }
}
@media ((min-width:992px)) {
  .container {
    width: 970px;
  }
}
@media ((min-width:1200px)) {
  .container {
    width: 1170px;
  }
}

.header {
  -o-box-shadow: 0 0 10px #ddd;
  -ms-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-align: center;
}
.header .logo h1 {
  color: #242582;
  font-size: 25px;
}
@media ((max-width:767px)) {
  .header .logo h1 {
    font-size: 16px;
  }
}
.header .nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .nav .main-links {
  display: flex;
}
.header .nav .main-links li {
  position: relative;
  font-weight: 800;
  font-size: 16px;
}
.header .nav .main-links li a {
  height: 72px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}
@media ((max-width:767px)) {
  .header .nav .main-links li {
    font-weight: 800;
    font-size: 12px;
  }
}
.header .nav .main-links li i {
  margin-left: 3px;
  color: #A9A9A9;
}
.header .nav .main-links li ul {
  display: none;
  flex-direction: column;
  background-color: white;
  width: 150px;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 20px;
  -o-box-shadow: 0 0 10px #ddd;
  -ms-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .nav .main-links li ul li {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.header .nav .main-links li ul li:not(:last-child) {
  border-bottom: 1px solid #DDD;
}
.header .nav .main-links li ul li:hover {
  background-color: #DDD;
}
.header .nav .main-links li.active i {
  transform: rotate(90deg);
}
.header .nav .main-links li.active ul {
  display: flex;
}
.header .nav .follow-github {
  background-color: #171515;
  color: white;
  font-weight: 700;
  padding: 12px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.header .nav .follow-github i {
  margin-right: 5px;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.main .reversed-word {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .reversed-word .word {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}
.main .reversed-word .hint {
  margin-bottom: 30px;
  margin-top: 10px;
}
.main .time-left .time {
  color: #242582;
}
.main .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .inputs .enter-word-input {
  padding: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  -webkit-border: 2px solid #A9A9A9;
  -moz-border: 2px solid #A9A9A9;
  -o-border: 2px solid #A9A9A9;
  -ms-border: 2px solid #A9A9A9;
  border: 2px solid #A9A9A9;
}
.main .inputs .buttons {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 20px;
}
.main .inputs .buttons button {
  padding: 15px 20px;
  background-color: #242582;
  color: white;
}
.main .inputs .buttons button.refresh-button {
  background-color: #6C757D;
}
.main .inputs .buttons button.check-button {
  background-color: black;
}
.main .inputs .buttons button.start-game-button {
  position: relative;
  left: calc(50% + 10px);
}/*# sourceMappingURL=homepage.css.map */