//colors
$main-color :#242582;
$alt-color : #234566;
//prefixes
$prefixes : webkit moz o ms;
// media queries
$maxMobile : "(max-width:767px)";
$maxSmall : "(max-width:991px)";
$maxLarge : "(max-width:1199px)";
$minSmall : "(min-width:768px)";
$minMedium : "(min-width:992px)";
$minLarge : "(min-width:1200px)";