.header{
    @include prefixer(box-shadow, 0 0 10px #ddd,$prefixes);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        text-align: center;
        h1{
            color: $main-color; 
            font : {
                size: 25px;
            }
            @media($maxMobile){
                @include prefixer(font-size,16px,$prefixes)
            }
        }
    }
    .nav{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .main-links{
            display: flex;
            li{
                position: relative;
                height: 72px;
                padding: 0px 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                cursor: pointer;
                text-transform: uppercase;
                font : {
                    weight :800;
                    size: 16px;
                }
                @media($maxMobile){
                    font : {
                        weight :800;
                        size: 12px;
                    }
                    padding-right: 10px;
                    padding-left: 10px;
                }
                i{
                    margin-left: 3px;
                    color: $gray-color;
                }
                ul{
                    display: none;
                    flex-direction: column;
                    background-color: white;
                    width: 150px;
                    position: absolute;
                    z-index: 999;
                    top: 100%;
                    left: -20px;
                    @include mainBoxShadow;
                    li{
                        width: 100%;
                        padding: 10px;
                        cursor: pointer;
                        &:not(:last-child){
                            border-bottom: 1px solid $light-gray-color;
                        }
                        &:hover{
                            background-color: $light-gray-color;
                        }
                        
                    }
                }
                &.active{
                    i{
                        transform: rotate(90deg);
                    }
                    ul{
                        display: flex;
                    }
                }         
            }  
            
        }
        .follow-github{
            background-color: $github-color;
            color: white;
            font-weight: 700;
            padding: 12px 10px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font : {
                size : 12px;
            }
            i{
                margin-right: 5px;
            }
        }
    }
    
}